<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="App.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Persistencia.Properties.Settings.localDataConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\dados\BaseLocal.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="MySqlConnectionString" connectionString="Server=192.185.209.140;Database=cyrax918_integracao;Uid=cyrax918;Pwd=A@-54tcIjy;"
      providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <userSettings>
    <App.Properties.Settings>
      <setting name="CdDestino" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="usuarioId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value>ADM</value>
      </setting>
      <setting name="senha" serializeAs="String">
        <value>ADM</value>
      </setting>
      <setting name="conexao" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UsarBaseLocal" serializeAs="String">
        <value>False</value>
      </setting>
    </App.Properties.Settings>
  </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
          type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
